@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&display=swap');

:root {
    --light-color: rgb(248, 182, 1);
    --dark-color: rgb(39, 40, 58);
}

html,
body {
    height: 100%;
    width: 100%;
}


/*-----------------------------------------------------*/

.card-playlist {
    position: fixed;
    top: 2%;
    left: 1%;
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: row;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2em;
}

.card-playlistS {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2em;
}

.card-playlist img {
    height: 100px;
    width: 100px;
}

.playlist-info {
    margin-left: 3%;
}

.card-playlistS .playlist-info {
    margin-left: 1%;
}

.desc {
    font-weight: 100;
}

.title {
    margin-top: -5%;
    font-weight: 600;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card img {
    width: 80%;
    height: 80%;
}

.main-card .songtitle {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    font-size: 1.4em;
    margin-top: 4%;
    text-align: center;
}

.main-card .songartists {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: -5%;
    text-align: center;
    color: rgb(114, 114, 114);
}

.progcont {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#seconds {
    width: 10%;
    margin-bottom: 0;
}

#prog {
    width: 60%;
    accent-color: var(--light-color);
}

#total {
    width: 10%;
    margin-bottom: 0;
}

input:focus {
    border-color: var(--light-color) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--light-color) !important;
}

input[type=range]:focus {
    border: none !important;
    box-shadow: none !important;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
    align-self: center;
    border-radius: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    background: var(--light-color);
    cursor: pointer;
    transform: scale(180%);
    border-radius: 10px;
}

.slider::-webkit-slider-thumb:active {
    background-color: rgb(255, 207, 84);
}

.slider::-moz-range-thumb {
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    background: var(--light-color);
    cursor: pointer;
    border: none;
    transform: scale(180%);
    border-radius: 10px;
}

.slider::-moz-range-progress {
    background-color: var(--light-color);
    height: 100%;
    border-radius: 10px;

}

.slider::-moz-range-thumb:active {
    background-color: rgb(255, 207, 84);
}

.rounds p {
    display: inline;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

.rounds {
    margin-bottom: 1.5%;
}

.classifica {
    max-height: 300px;
}

.modal-dark {
    background-color: var(--dark-color);
    color: rgb(240, 240, 240);
}

.playableInfo p {
    display: inline;
}

.playableInfo {
    margin-bottom: 1%;
}

/*-----------------------------------------------------*/

#idPlaylist.dark-theme {
    color: rgb(240, 240, 240);
}

#idCard.dark-theme {
    color: rgb(240, 240, 240);
}

#idCard.dark-theme .songartists {
    color: rgb(190, 190, 190);
}

#loginpage.dark-theme {
    color: rgb(240, 240, 240);
}

#loginpage.dark-theme .pagesubtitle {
    color: rgb(190, 190, 190);
}

/*----------------------------------------------*/

.formcontainer {
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin-top: -20px;
    font-family: 'Lexend Deca', sans-serif;
}

.pagetitle {
    text-align: center;
    width: 100%;
    font-size: 4em;
}

.pagesubtitle {
    text-align: center;
    width: 100%;
    color: rgb(114, 114, 114);
    font-size: 1.5em;
}

.logintitle {
    margin-top: 3%;
    text-align: center;
    width: 100%;
}

.loginform label {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}


.loginform input {
    font-size: 1.2em;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}


.loginform .btn {
    font-size: 1.5em;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}